.drawer-container {
  width: 100vw;
  height: 100vh;
  .sidenav {
    // padding: 40px;
    background-color: var(--primary-color);
    color: white;
    .filter-section {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      .label{
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
      }
      .mat-checkbox {
        margin: 10px 0;
      }
      .mat-checkbox-frame { 
        border-color: white  !important;
      }
    }
  }
  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    .mat-toolbar {
      height: auto;
      font-size: 16px;
      padding: 10px 16px !important;
      align-items: baseline;
      .mat-form-field{
        flex: 1;
      }
      .flex{
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        .search{
          background-color: white !important;
          color: black;
          margin-left:10px;
          border-radius: 5px;
          padding: 10px;
          border: none;
          width: 300px;
        }
        .mat-form-field {
          margin-right: 20px;
          margin-bottom: -15px;
          .mat-datepicker-toggle-default-icon {
            color: white;
          }
        }
      }
    }
  }
  .accordion-container {
    flex: 1;
    width: 100%;
    overflow: auto;
    .mat-accordion {
      .title {
        margin-left: 10px;
        font-weight: bold;
        text-transform: capitalize;
        flex: 1;
      }
      .infos {
        .dflex {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
        }
        .mat-icon {
          margin-right: 5px;
        }
        .value {
          font-weight: normal;
          margin-right: 10px;
        }
        .line {
          border-top: 1px solid #dbdbdb;
          margin: 15px 0;
        }
        .label {
              font-weight: bold;
          margin-right: 10px;
        }
        .price {
          font-weight: bold;
        }
      }
    }
  }
  .flexcenter{
    display: flex;
    align-items: center;
  }
}

